  .html {
      max-height: 100%;
  }

  .attribution {
      font-size: 0.6875rem;
      text-align: center;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }

  body {
      font-family: 'figtree', sans-serif;
      margin: 0;
      background-color: hsl(47, 88%, 63%);
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .wrapper {
      padding-top: 1.30rem;
      max-width: 20rem;
      background-color: hsl(0, 0%, 100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 20px;
      border: 1px solid black;
      box-shadow: 10px 10px black;
  }

  .image_wrapper {
      align-self: center;
      max-width: 17rem;
      max-height: 20rem;
      border-radius: 10px;
      overflow: hidden;

  }

  .illustration {
      max-width: 19rem;
      max-height: 20rem;
      object-fit: fill;
      align-self: center;
      border-radius: 10px;

  }

  .category {
      border: 1px solid hsl(47, 88%, 63%);
      background-color: hsl(47, 88%, 63%);
      border-radius: 4px;
      font-size: 0.8rem;
      font-weight: 800;
      padding: 1%;
      width: 20%;
      text-align: center;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
  }

  .title {
      color: black;
      margin-top: 0.5rem;
      margin-left: 1.5rem;
      font-size: 1.3rem;
      font-weight: 800;
  }

  .title:hover {
      color: hsl(47, 88%, 63%);
      cursor: pointer;
  }

  .synopsis {
      color: grey;
      margin: 0 1.5rem 0 1.5rem;
      font-size: 0.85rem;
      font-weight: 500;
      text-align: left;
      line-height: 1.2rem;
  }

  .date_of_publication {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      margin-left: 1.5rem;

  }

  .author_container {
      margin: 1.2rem 0 1.2rem 0;
      display: flex;

  }

  .thumbnail {
      margin-left: 1.5rem;
      display: inline-block;
      align-self: baseline;
      max-width: 35px;
  }


  .author {
      padding-left: 1rem;
      font-size: 0.8rem;
      display: inline-block;
      max-width: 100px;
      font-weight: 800;
  }

  footer {
      position: relative;
      top: 15vh;
  }


  @media (min-width:1025px) {
      .wrapper {
          max-width: 22rem;
          padding-top: 1rem;
      }


      .image_wrapper {
          max-width: 20rem;
          max-height: 20rem;
      }

      .illustration {
          max-width: 20rem;
          max-height: 20rem;
      }

      .category {
          padding: 1%;
          width: 20%;
          margin-left: 1rem;
          margin-top: 1.2rem;
      }

      .title {
          margin-top: 0.25rem;
          margin-left: 1rem;
          font-size: 1.3rem;
          font-weight: 800;
      }

      .synopsis {
          margin: 0 1rem 0 1rem;
          font-size: 0.85rem;
          line-height: 1.5rem;
      }

      .date_of_publication {
          margin-top: 0.5rem;
          font-size: 0.8rem;
          margin-left: 1rem;

      }

      .author_container {
          margin: 1rem 0 1rem 0;

      }

      .thumbnail {
          margin-left: 1rem;
      }

  }