  .html {
      max-height: 100%;
  }

  .attribution {
      font-size: 0.6875rem;
      text-align: center;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }

  body {
      font-family: 'figtree';
      margin: 0;
      background-color: hsl(47, 88%, 63%);
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .wrapper {
      padding-top: 1.30rem;
      max-width: 300px;
      background-color: hsl(0, 0%, 100%);
      height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 20px;
      border: 1px solid black;
      box-shadow: 10px 10px black;
  }

  .image_wrapper {
      align-self: center;
      max-width: 250px;
      max-height: 300px;
      border-radius: 10px;
      overflow: hidden;

  }

  .illustration {
      max-width: 300px;
      max-height: 300px;
      object-fit: fill;
      align-self: center;
      border-radius: 10px;
      transform: scale(1);
  }

  .category {
      border: 1px solid hsl(47, 88%, 63%);
      background-color: hsl(47, 88%, 63%);
      border-radius: 4px;
      font-size: 0.8rem;
      font-weight: 800;
      padding: 1%;
      width: 20%;
      text-align: center;
      margin-left: 1.8rem;
  }

  .title {
      color: black;
      margin-left: 1.8rem;
      font-size: 1.3rem;
      font-weight: 800;
  }

  .synopsis {
      color: grey;
      margin: 0 1.8rem 0 1.8rem;
      font-size: 0.8rem;
      font-weight: 500;
      text-align: left;
      line-height: 1.5rem;
  }

  .date_of_publication {
      font-size: 0.8rem;
      margin-left: 1.8rem;

  }

  .author_container {
      display: flex;
      padding-top: 1rem;
  }

  .thumbnail {
      margin-left: 1.8rem;
      display: inline-block;
      align-self: baseline;
      max-width: 35px;
  }


  .author {
      padding-left: 1rem;
      font-size: 0.8rem;
      display: inline-block;
      max-width: 100px;
      font-weight: 800;
  }

  footer {
      position: relative;
      top: 15vh;
  }




  @media (min-width:320px) and (min-height: 660px) {
      .body {
          display: flex;
          height: 100vh;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .wrapper {
          padding-top: 1.50rem;
          max-width: 350px;
          background-color: hsl(0, 0%, 100%);
          height: 55vh;
      }

      .image_wrapper {

          max-width: 300px;
          max-height: 400px;

      }

      .illustration {
          max-width: 400px;
          max-height: 400px;

      }

      .date_of_publication {
          font-size: 0.9rem;
      }
  }





  @media (min-width:640px) and (min-height: 1000px) {

      .body {
          display: flex;
          height: 100vh;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .wrapper {
          padding-top: 1.50rem;
          max-width: 400px;
          background-color: hsl(0, 0%, 100%);
          height: 50vh;
      }

      .image_wrapper {
          max-width: 400px;
      }

      .illustration {
          max-width: 400px;
          max-height: 300px;
          display: block;
          align-self: center;
          border-radius: 10px;

      }

      .category {
          margin-top: 1rem;
          font-size: 1rem;
          padding: 1%;
          width: 25%;
      }

      .date_of_publication {
          margin-top: 1rem;
          font-size: 0.9rem;
      }

      .title {
          margin-top: 1rem;
          font-size: 1.8rem;
      }

      .synopsis {
          margin-top: 1rem;
          font-size: 1.05rem;
      }

      .author_container {
          margin-top: 1rem;
      }

      .thumbnail {
          max-width: 40px;
      }

      .author {
          font-size: 1rem;
      }
  }





  @media (min-width:1000px) and (min-height: 1300px) {
      .body {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .wrapper {
          padding-top: 1.50rem;
          max-width: 400px;
          background-color: hsl(0, 0%, 100%);
          height: 40vh;
      }

      .image_wrapper {
          max-width: 400px;
      }

      .illustration {
          max-width: 400px;
          max-height: 300px;
          display: block;
          align-self: center;
          border-radius: 10px;

      }

      .category {
          font-size: 1rem;
          padding: 1%;
          width: 25%;
      }

      .date_of_publication {
          font-size: 0.9rem;
      }

      .title {
          font-size: 1.8rem;
      }

      .synopsis {
          font-size: 1.05rem;
      }

      .author_container {
          padding-top: 1rem;
          padding-bottom: 1rem;
      }

      .thumbnail {
          max-width: 40px;
      }

      .author {
          font-size: 1rem;
      }

      footer {
          position: relative;
          top: 15vh;
      }
  }